{% extends "base2.html" %}

{% block content %}
<hr>
    <div class="container-xl containerLoginTextMain">
        <div class="containerLoginText">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-sm-8">
                    <div class="containerLogin">
                        <h2 style="text-align: center;padding-bottom: 2%; text-transform: uppercase">Upráva profilu</h2>
                        <form class="site-form" action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>Profilová fotka</p>
                            <p class="text-break">{{ form.image }}</p>
                            <p>Přezdívka:</p>
                            <p>{{ form.username }}</p>
                            <p>Email:</p>
                            <p style="color: #ffb503">Email musí být ve formátu: 'example@example.cz'</p>
                            {% if form.email.errors %}<p style="color: red">Tento email se již používá.</p><p style="color: red">Email musí být ve formátu: 'example@example.cz'</p>{% endif %}
                            <p>{{ form.email }}</p>
                            <p>Křestní jméno:</p>
                            <p>{{ form.first_name }}</p>
                            <p>Příjmení:</p>
                            <p>{{ form.last_name }}</p>
                            <p>Město:</p>
                            <p>{{ form.city }}</p>
                            <p>Ulice:</p>
                            <p>{{ form.street }}</p>
                            <p>PCS:</p>
                            {% if form.PCS.errors %}<p style="color: red">PCS musí být ve formátu: '99999'</p>{% endif %}
                            <p>{{ form.PCS }}</p>
                            <p>Telefonní číslo:</p>
                            {% if form.phone_number.errors %}<p style="color: red">Telefonní číslo musí být ve formátu: '999999999'.</p>{% endif %}
                            <p>{{ form.phone_number }}</p>
                            <p>Věk:</p>
                            <p>{{ form.age }}</p>
                            <p>O tobě:</p>
                            <p>{{ form.about }}</p>
                            <p>Změna hesla: <a href="{% url 'password' %}">Nové heslo</a></p>
                            <p></p>
                            <input type="submit" value="Edit" class="registerButton">
                        </form>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
{% endblock %}