{% extends "base2.html" %}

{% block content %}
<hr class="lineHere">
    <div class="containerLoginTextMain">
        <div class="containerLoginText">
            <div class="containerLogin">
                <h2 style="text-align: center;padding-bottom: 2%; text-transform: uppercase">Upráva profilu</h2>
                <form class="site-form" action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Profilová fotka</p>
                    <p class="text-break">{{ form.image }}</p>
                    <p>Přezdívka:</p>
                    {% for error in form.username.errors %}<p style="color: red">{{ error }}</p>{% endfor %}
                    <p>{{ form.username }}</p>
                    <p>Email:</p>
                    {% for error2 in form.email.errors %}<p style="color: red">{{ error2 }}</p>{% endfor %}
                    <p>{{ form.email }}</p>
                    <p>Křestní jméno:</p>
                    <p>{{ form.first_name }}</p>
                    <p>Příjmení:</p>
                    <p>{{ form.last_name }}</p>
                    <p>Město:</p>
                    <p>{{ form.city }}</p>
                    <p>Ulice:</p>
                    <p>{{ form.street }}</p>
                    <p>PCS:</p>
                    <p>{{ form.PCS }}</p>
                    <p>Telefonní číslo:</p>
                    <p>{{ form.phone_number }}</p>
                    <p>Věk:</p>
                    <p>{{ form.age }}</p>
                    <p>O tobě:</p>
                    <p>{{ form.about }}</p>
                    <p>Změna hesla: <a href="{% url 'password' %}">Nové heslo</a></p>
                    <p></p>
                    <input type="submit" value="Edit" class="registerButton">
                </form>
                <ul class="messagesMid">
                    {% for message in messages %}
                        {% if message %}
                            <li class="messages">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}