{% extends "base2.html" %}

{% block content %}
<hr class="lineHere">
    <div class="containerLoginTextMain">
        <div class="containerLoginText">
            <div class="containerLogin">
                <h2 style="text-align: center;padding-bottom: 2%; text-transform: uppercase">Změna hesla</h2>
                <form class="site-form" action="{% url 'password' %}" method="post">
                    {% csrf_token %}
                    <p>Zadejte nové heslo:</p>
                    <p>{{ form.password1 }}</p>
                    <p>Zopakujte heslo:</p>
                    <p>{{ form.password2 }}</p>
                    <p></p>
                    <input type="submit" value="Edit" class="registerButton">
                </form>
                <ul class="messagesMid">
                    {% for message in messages %}
                        {% if message %}
                            <li class="messages">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}