{% extends "base2.html" %}

{% block content %}
<hr class="lineHere">
    <div class="containerLoginTextMain">
        <div class="containerLoginText">
            <div class="containerLogin">
                <h2 style="text-align: center;padding-bottom: 2%; text-transform: uppercase">Změna hesla</h2>
                <form class="site-form" action="{% url 'password' %}" method="post">
                    {% csrf_token %}
                    <p>Zadejte nové heslo:</p>
                    <p>{{ form.password1 }}</p>
                    <p>Zopakujte heslo:</p>
                    <p>{{ form.password2 }}</p>
                    {% for error in form.password2.errors%}<p style="color: red">{{ error }}</p>{% endfor %}
                    <p></p>
                    <p>!Po změně hesla budete odhlášeni.!</p>
                    <input type="submit" value="Změnit heslo" class="registerButton">
                </form>
            </div>
        </div>
    </div>
{% endblock %}