{% extends "base2.html" %}
{% load static %}

{% block content %}
<hr>
    <div class="container-xl containerLoginTextMain">
        <div class="row containerLoginText">
            <div class="col-1"></div>
            <div class="col-10 containerLogin">
                <h2 style="text-align: center;padding-bottom: 2%; text-transform: uppercase">Profil</h2>
                <div class="row">
                    <div class="col-sm-4 text-center">
                    <p>Profilová fotka</p>
                    {% if request.user.image%}
                        <a href="{{ profile.image.url }}"><img src="{{ profile.image.url }}" alt="fotka" class="card-img" style="border-radius: 100px; height: 100px;width: 100px;"></a>
                    {% else %}
                        <p><img src="{% static '../static/img/default-avatar.png' %}" alt="fotka" class="cardImage" style="border-radius: 100px; height: 100px;width: 100px;"></p>
                    {% endif %}
                    </div>
                    <div class="col-sm-4 text-center">
                    <p>Přezdívka: {{ profile.username}}</p>
                    <p>Email: {{ profile.email }}</p>
                    <p>Křestní jméno: {{ profile.first_name }}</p>
                    <p>Příjmení: {{ profile.last_name }}</p>
                    </div>
                    <div class="col-sm-4 text-center">
                    {% if profile.city %}
                    <p>Obec: {{ profile.city }}</p>
                    {% else %}
                    <p>Obec: </p>
                    {% endif %}
                    {% if profile.street %}
                    <p>Ulice: {{ profile.street }}</p>
                    {% else %}
                    <p>Ulice: </p>
                    {% endif %}
                    {% if profile.PCS %}
                    <p>PSČ: {{ profile.PCS }}</p>
                    {% else %}
                    <p>PSČ: </p>
                    {% endif %}
                    {% if profile.phone_number %}
                    <p>Telefonní číslo: {{ profile.phone_number }}</p>
                    {% else %}
                    <p>Telefonní číslo: </p>
                    {% endif %}
                    {% if profile.age %}
                    <p>Věk: {{ profile.age }}</p>
                    {% else %}
                    <p>Věk: </p>
                    {% endif %}
                    </div>
                    <p></p>
                        <div class="row">
                            <div class="col-12">
                            {% if profile.about %}
                            <p>O tobě: </p>
                            <div class="text-break" style="background-color: white; border-radius: 2px; color: black; padding-left: 4px;"><p>{{ profile.about}}</p></div>
                            {% else %}
                            <p>O tobě: </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-3 text-center">
                                <p></p>
                                <a href="{% url 'edit' %}">Změnit údaje</a>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-3 text-center">
                                {% if user.is_superuser or user.is_staff%}
                                <p></p>
                                <a href="{% url 'admin:index' %}">Úprava databáze</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-2"></div>
                            <p></p>
                        </div>
                </div>
            </div>
            <div class="col-1"></div>
            <p></p>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                {% for review in review5 %}
                    <form action="{% url 'delete' review.book_id %}" method="post">
                    {% csrf_token %}
                    {{ review.book }} - Hodnocení: <i style="color: #ffb503" class="fa fa-star{% if review.rate < 0.5%}-o empty{% elif review.rate >= 0.5 and review.rate < 1 %}-half-o empty{% endif %}" aria-hidden="true"></i>
            <i style="color: #ffb503" class="fa fa-star{% if review.rate < 1.5%}-o empty{% elif review.rate >= 1.5 and review.rate < 2 %}-half-o empty{% endif %}" aria-hidden="true"></i>
            <i style="color: #ffb503" class="fa fa-star{% if review.rate < 2.5%}-o empty{% elif review.rate >= 2.5 and review.rate < 3 %}-half-o empty{% endif %}" aria-hidden="true"></i>
            <i style="color: #ffb503" class="fa fa-star{% if review.rate < 3.5%}-o empty{% elif review.rate >= 3.5 and review.rate < 4 %}-half-o empty{% endif %}" aria-hidden="true"></i>
            <i style="color: #ffb503" class="fa fa-star{% if review.rate < 4.5%}-o empty{% elif review.rate >= 4.5 and review.rate < 5 %}-half-o empty{% endif %}" aria-hidden="true"></i> - Vytvořeno: {{ review.created_date }} - Upraveno: {{ review.updated_date }}
                        <p></p>
                        <p>{{ review.text|linebreaks }}</p>
                    <input type="submit" value="Vymaž recenzi" class="btn btn-primary">
                    </form>
                    <p></p>
                {% endfor %}
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
{% endblock %}