1 lines (20 sloc)  746 Bytes

{% extends "base2.html"%}

{% block content %}
<hr class="lineHere">
    <div class="containerRegisterTextMain">
        <div>
            <div class="containerRegisterText">
                <form class="site-form" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="containerRegister">
                        <h2 style="text-align: center;padding-bottom: 2%; text-transform: uppercase">Register</h2>
                        <table>
                            <tr>
                                <td>Uživatelské jméno:</td>
                                <td>{{ forms.username }}</td>
                            </tr>
                            <tr>
                                <td>Jméno:</td>
                                <td>{{ forms.first_name }}</td>
                            </tr>
                            <tr>
                                <td>Příjmení:</td>
                                <td>{{ forms.last_name }}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{ forms.email }}</td>
                            </tr>
                            <tr>
                                <td>Heslo:</td>
                                <td>{{ forms.password1 }}</td>
                            </tr>
                            <tr>
                                <td>Potvrzení hesla:</td>
                                <td>{{ forms.password2 }}</td>
                            </tr>
                        </table>
                        <p></p>
                    <input type="submit" value="Register" class="registerButton">
                        <ul class="messagesMid">
                        {% for message in messages %}
                            {% if message %}
                                <li class="messages">{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}