.containerDetail {
  border-radius: 20px;
  border: solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-width: 8px 10px;
  padding: 10px;
  background-color: darkslategray;
  color: white;
}

.containerTextDetail{
  background-color: white;
  font-family: "Gentium Book Basic";
  padding-bottom: 20%;
}


.booksInAuthors{
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
}


