@media screen and (max-width: 480px) {

  .navbar {
    display: flex;
    padding: 4px;
    color: white;
    font-family: "Gentium Book Basic";
    text-transform: uppercase;
    background-color: darkslategrey;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding: 2px;
  }

  ul li{
    list-style: none;
  }

  li a {
    display: block;
    color: white;
    margin: 5px;
    padding: 14px 4px;
    text-decoration: none;
  }

  ul li a {
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }

  ul li a:hover {
    background-color: white;
    color: darkslategrey;
  }

  .logoLeft {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding: 8px;
    text-align: left;
    font-size: 25px;
  }

  .ulLeft {
    font-size: 12px;
    text-align: left;
  }

  .lomitkoRight {
    display: flex;
    display: block;
    color: white;
    margin: 5px;
    padding: 14px 4px;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
  }

  .ulRight {
    font-size: 12px;
    text-align: right;
  }


  .contentHere{
    position: relative;
    margin-left: 10%;
    margin-top: 40%;
    justify-content: center;
    align-items: center;
  }

  #text {
    position: absolute;
    color: white;
    font-size: 34px;
    padding: 16px;
  }

  #text:hover {
    background-color: white;
    color: darkslategrey;
    border-radius: 60px;
  }

  .lineHere {
    display: block;
    background-color: black;
    margin-top: -0.01em;
    margin-bottom: -0.01em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
  }

  .containerOK {
    background-color: white;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .containerText{
    background-color: white;
    font-family: "Gentium Book Basic";
    padding-left: 4px;
    padding-right: 4px;
  }

  .fixedImg {
    background: unset;
    height: unset;
    background-attachment: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
  }
}