.navbar {
  display: flex;
  padding: 4px;
  color: white;
  font-family: "Gentium Book Basic";
  text-transform: uppercase;
  background-color: darkslategrey;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}

ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  padding: 8px;
}

ul li{
  list-style: none;
}

li a {
  display: block;
  color: white;
  margin: 5px;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
}

ul li a:hover {
  background-color: white;
  color: darkslategrey;
}

.logoLeft {
  list-style-type: none;
  overflow: hidden;
  padding: 8px;
  text-align: left;
  font-size: 40px;
}

.ulLeft {
  font-size: 20px;
  text-align: left;
}

.lomitkoRight {
  color: white;
  margin: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.ulRight {
  font-size: 20px;
  text-align: right;
}

.avatar_p {
  max-height: 50px !important;
  max-width: 50px !important;
  border-radius: 20px !important;
}

.avatar_pButton{
    background-color: darkslategrey;
    border: 2px;
    border-radius: 20px;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 2px;
    cursor: pointer;
    transition-duration: 0s;
}

.avatar_pButton:hover{
    background-color: white;
    color: darkslategrey;
}