.registerButton{
    box-shadow: none !important;
    outline: 0px !important;
    width: 34%;
    margin-left: 33% !important;
    background: lightseagreen !important;
    color: white !important;
    border-color: darkcyan !important;
}

.containerLoginTextMain{
    background-color: white;
    font-family: "Gentium Book Basic";
    padding-bottom: 30%;

}

.containerLoginText{
    padding-top: 10%;
}

.containerLogin{
    border: solid black;
    border-radius: 20px;
    background-color: darkslategrey;
    color: white;
    box-shadow: 0 10px 10px 2px darkslategrey;
    padding: 6px;
}

.containerLogin td{
    color: white !important;
}

#id_username, #id_password{
    width: auto;
}

.messagesMid{
    text-align: center;
    justify-content: center;
}

.messages {
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    background-color: darkred;
    border-radius: 14px;
    max-width: 100%;
    color: white;
    padding: 20px;
}

.messages2 {
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    background-color: darkslategray;
    border-radius: 14px;
    max-width: 100%;
    color: white;
    padding: 20px;
}
