<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"
        name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Knihy{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/listTemplates.css' %}">
    <link rel="stylesheet" href="{% static 'css/detailTemplates.css' %}">
</head>
<body class="fixedImg">
    <main>
    <div class="containerOK">
        {% block navbar %}
            {% include "page/navbar.html" %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script><!--Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--Připravený blok pro vložení/připojení dalších skriptů podle potřeby jednotlivých stránek -->
    {% block scripts %}{% endblock %}
</body>
</html>