{% extends "base.html" %}

{% block content %}
    <div class="round1">
        <div>
            <div>
                <ul class="round2">
                    <li class="leftt" style="font-size: 20px"><a>PČ</a></li>
                    <li class="leftt"><a href="#">Domů</a></li>
                    <li class="leftt"><a href="#">Autoři</a></li>
                    <li class="leftt"><a href="#">Knihy</a></li>
                    <li class="leftt"><a href="#">Quizy</a></li>
                    <li class="rightt"><a href="#">Login</a></li>
                    <li class="rightt"><a>/</a></li>
                    <li class="rightt"><a href="#">Register</a></li>
                </ul>
            </div>
            <div>
                <p>sssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
            </div>
        </div>
    </div>


{% endblock %}