{% extends "base2.html" %}

{% block content %}
    <hr class="lineHere">
    <div class="containerTextDetail">
        <h2 style="text-align: center; padding-top: 1%;text-transform: uppercase">Informace o knize</h2>
        <div class="containerDetail">
            <div class="detailText">
                <h3>{{ books_detail.name }}</h3>
                <h3>{{ books_detail.rate }}</h3>
                {% if books_detail.photo %}
                    <a href="{{ books_detail.photo.url }}"><img src="{{ books_detail.photo.url }}" class="photoDetail"></a>
                {% endif %}
                <p>Napsal: {% for author in books_detail.author.all %}<a href="{% url 'authordetail' author.pk %}" class="card-genre">{{ author.name }} {{ author.surname }}</a>{% endfor %}</p>
                <p>Žánry: {% for genre in books_detail.genre.all %}<a href="{% url 'bookgenre' genre.name %}" class="card-genre">{{ genre.name }} </a>{% endfor %}</p>
                <p></p>
                <div>
                    {{ books_detail.plot }}
                </div>
            </div>
        </div>
        <div class="reviewDetail">
            {% if user.is_authenticated %}
            <form action="{% url 'review' books_detail.id %}" method="post">
                {% csrf_token %}
                <div>
                    <p>Napiš recenzi</p>
                    <textarea style="padding-left: 4px" rows="6" name="text" class="form-control" required></textarea>
                    <p></p>
                    <label>Rate:</label>
                    <p></p>
                    <div class="rate">
                        <input type="radio" name="rate" id="rating10" value="5" required><label for="rating10" title="5"></label>
                        <input type="radio" name="rate" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                        <input type="radio" name="rate" id="rating8" value="4" required><label for="rating8" title="4"></label>
                        <input type="radio" name="rate" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="rate" id="rating6" value="3" required><label for="rating6" title="3"></label>
                        <input type="radio" name="rate" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                        <input type="radio" name="rate" id="rating4" value="2" required><label for="rating4" title="2"></label>
                        <input type="radio" name="rate" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                        <input type="radio" name="rate" id="rating2" value="1" required><label for="rating2" title="1"></label>
                        <input type="radio" name="rate" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                    </div>
                    <p></p>
                    <input type="submit" value="Hodnotit" class="btn btn-primary">
                </div>
                {% endif %}
                <p></p>
                <div>
                    <h5>Recenze: </h5>
                    <p>{{ form_review.text }}</p>
                </div>
        </div>

    </div>
{% endblock %}