{% extends "base2.html" %}

{% block content %}
    <hr class="lineHere">
    <div class="containerTextDetail">
        <h2 style="text-align: center; padding-top: 1%;text-transform: uppercase">Informace o autorovi</h2>
        <div class="containerDetail">
            <div class="detailText">
                <h3>{{ authors_detail.name }} {{ authors_detail.surname }}</h3>
                {% if authors_detail.photo %}
                    <a href="{{ authors_detail.photo.url }}"><img src="{{ authors_detail.photo.url }}" class="photoDetail"></a>
                {% endif %}
                <p></p>
                <div>
                    {{ authors_detail.bio }}
                </div>
                <p></p>
                <div>
                    <p>Knihy:</p>
                    <p>{% for book in authors_detail.book_set.all %}
                        <div class="row">
                            <div class="containerDetailAuthorAndBook">
                                <a href="{% url 'bookdetail' book.pk %}" class="booksInAuthors">{{ book.name }}</a>
                                <p></p>
                                <img src="{{ book.photo.url }}" alt="fotka" class="photoDetail">
                            </div>
                    </div>
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}