{% extends "base2.html" %}

{% block title %}Seznam knih{% endblock %}
{% block content %}
    <hr class="lineHere">
    <div class="containerText">
        <h2 style="text-align: center; padding-top: 1%">{{ view_head }}</h2>
    <div class="row">
        {% for book in books_list %}
            <div class="card">
              <img src="{{ book.photo.url }}" alt="fotka" class="cardImage">
              <div class="containerCard">
                  <h4><b><p>{{ book.name}}</p></b></h4>
                  <p class="card-text-genre">{% for genre in book.genre.all %}<a href="{% url 'bookgenre' genre.name %}" class="card-genre">{{ genre.name }} </a>{% endfor %}</p>
              </div>
            <a href="{% url 'bookdetail' book.pk %}" class=buttonBlue>Podrobnosti</a>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}