{% extends "base2.html" %}

{% block title %}Seznam knih{% endblock %}
{% block content %}
    <hr>
    <div class="container-xl containerText">
        <h2 style="text-align: center; padding-top: 1%">{{ view_head }}</h2>
        <div class="row">
            {% for book in books_list %}
                <div class="col-lg-3 col-md-5 col-sm-6 col-xs-2 text-center">
                    <div class="card">
                        <img src="{{ book.photo.url }}" alt="fotka" class="card-img">
                        <div class="card-body">
                            <h4 class="card-title"><b>{{ book.name}}</b></h4>
                            <p class="card-text">{% for genre in book.genre.all %}<a href="{% url 'bookgenre' genre.name %}" class="card-genre">{{ genre.name }} </a>{% endfor %}</p>
                        </div>
                        <a href="{% url 'bookdetail' book.pk %}"><button  type="button"  class="btn btn-primary">Podrobnosti</button></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

