{% extends "base2.html" %}

{% block title %}Seznam autorů{% endblock %}
{% block content %}
    <hr class="lineHere">
    <div class="containerText">
        <h2 style="text-align: center; padding-top: 1%">SEZNAM AUTORŮ</h2>
        <div class="row">
            {% for author in authors_list %}
                <div class="card">
                  <img src="{{ author.photo.url }}" alt="fotka" class="cardImage">
                  <div class="containerCard">
                    <h4><b>{{ author.name}} {{ author.surname }}</b></h4>
                      <p>{{ author.birthdate }} - {{ author.deathdate }}</p>
                  </div>
                 <a class="buttonBlue" href="{% url 'authordetail' author.pk %}">Podrobnosti</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}