{% load static %}
<nav class="navbar navbar-expand-md">
    <div class="container-xl">
        <ul class="navbar-nav">
            <li style="font-size: 30px" class="nav-item">PČ</li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarScroll" style="--bs-scroll-height: 100px;">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-link-white">
                    <a href="{% url 'index' %}">Domů</a>
                </li>
                <li class="nav-link-white">
                    <a href="{% url 'authorlist' %}">Autoři</a>
                </li>
                <li class="nav-link-white">
                    <a href="{% url 'booklist' %}">Knihy</a>
                </li>
            </ul>
            <form class="d-flex" method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <input class="form-control me-1" type="search" placeholder="Hledat název.." aria-label="Hledat" name="searched">
                <button class="btn btn-outline-primary me-1" type="submit">Hledat</button>
            </form>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                {% if request.user.image %}
                    <span><a href="{% url 'profile' %}" class="avatar_pButton"><img class="avatar_p" src="{{ request.user.image.url }}"></a></span>
                {% else %}
                    <span><a href="{% url 'profile' %}" class="avatar_pButton"><img class="avatar_p" src="{% static '../static/img/default-avatar.png' %}"></a></span>
                {% endif %}
                <li class="lomitko">/</li>
                <li><form class="logout-link" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logoutButton">Logout</button>
                </form></li>
                {% else %}
                <li class="nav-link-white-right"><a href="{% url 'login' %}">login</a></li>
                <li class="lomitko">/</li>
                <li class="nav-link-white-right"><a href="{% url 'register' %}">register</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
