<nav class="navbar">
        <ul class="ulLeft">
            <div class="logoLeft"><a>PČ</a></div>
            <ul>
                <li><a href="{% url 'index' %}">Domů</a></li>
                <li><a href="{% url 'authorlist' %}">Autoři</a></li>
                <li><a href="{% url 'booklist' %}">Knihy</a></li>
                <li><a href="{% url 'quizlist' %}">Quizy</a></li>
            </ul>
        </ul>
        <ul class="ulRight">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li class="lomitkoRight">/</li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li class="lomitkoRight">/</li>
            <li><form class="logout-link" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logoutButton">Logout</button>
            </form></li>
        </ul>
</nav>
