<nav class="navbar">
    <ul class="leftt">
            <div class="leftt1"><a>PČ</a></div>
            <ul>
                <li><a href="{% url 'index' %}">Domů</a></li>
                <li><a href="{% url 'authorlist' %}">Autoři</a></li>
                <li><a href="{% url 'booklist' %}">Knihy</a></li>
                <li><a href="{% url 'quizlist' %}">Quizy</a></li>
            </ul>
        </ul>
        <ul class="rightt">
            <li><a href="#">Login</a></li>
            <div class="rightt1">/</div>
            <li><a href="#">Register</a></li>
        </ul>
</nav>
