{% load static %}

{% block content %}
    {% for b in book %}
        {{ b.name }}
    {% endfor %}
    <h4>Recenze: </h4>
    <div>
        {% for revieww in review3 %}
            <p>Username: {{ revieww.user }} - Created: {{ revieww.created_date }} - Updated: {{ revieww.updated_date }}</p>
            <i class="fa fa-star{% if revieww.rate < 1 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if revieww.rate < 2 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if revieww.rate < 3 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if revieww.rate < 4 %}-o empty{% endif %}"></i>
            <i class="fa fa-star{% if revieww.rate < 5 %}-o empty{% endif %}"></i>
            <p>{{ revieww.text }}</p>
            <p></p>
        {% endfor %}
    </div>

{% endblock %}